{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_currency ogone_tags %}
{# this is the credit-card confirm template #}

{% block errorheader %}{% trans "The following error was returned while trying to process your card.  Please correct and resubmit" %}{% endblock %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li>{% trans "Checkout" %}</li>
{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not PAYMENT_LIVE %}<b>PAYMENT TEST MODE</b><br/>{% endif %}
{% trans "Your payment will be processed through Ogone." %}
{% endblock %}

{% block payment_form %}
{% get_ogone_form %}
<form action="{{ action }}" method="post">{% csrf_token %}
{{ form.as_p }}
{% comment %}
{% if order.paid_in_full %}
<form action="{% url PAYPAL_satchmo_checkout_free-confirm %}">
    <input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% else %}
<input type="hidden" name="business" value="{{ business }}" />
<input type="hidden" name="currency_code" value="{{ currency_code }}" />
<input type="hidden" name="return" value="{{ return_address }}" />
<input type="hidden" name="first_name" value="{{order.contact.first_name}}" />
<input type="hidden" name="last_name" value="{{order.contact.last_name}}" />
<input type="hidden" name="address1" value="{{address.street1}}" />
<input type="hidden" name="address2" value="{{address.street2}}" />
<input type="hidden" name="city" value="{{address.city}}" />
{# only U.S. abbreviations may be used here #}{% ifequal address.country.iso2_code|lower 'us' %}{% ifequal address.state|length 2 %}<input type="hidden" name="state" value="{{address.state}}" />{% endifequal %}{% endifequal %}
<input type="hidden" name="country" value="{{address.country.iso2_code}}" />
<input type="hidden" name="zip" value="{{address.postal_code}}" />
<input type="hidden" name="email" value="{{order.contact.email}}" />
<input type="hidden" name="address_override" value="0" />
{% endwith %}{% endif %}
<input type="hidden" name="notify_url" value="{{shop.base_url}}{% url PAYPAL_satchmo_checkout-ipn %}" />
</form>
{% endif %}
{% endcomment %}
<input type="submit" value="{% trans "Purchase Items" %}" />
{% endblock %}
