{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_currency ogone_tags %}
{# this is the credit-card confirm template #}

{% block errorheader %}{% trans "The following error was returned while trying to process your card.  Please correct and resubmit" %}{% endblock %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li>{% trans "Checkout" %}</li>
{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not PAYMENT_LIVE %}<b>{% trans "PAYMENT TEST MODE" %}</b><br/>{% endif %}
{% trans "Your payment will be processed through Ogone." %}
{% endblock %}

{% block payment_form %}
{% get_ogone_form %}
<form action="{{ action }}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="hidden" name="accepturl" value="{{ success_url }}">
<input type="hidden" name="declineurl" value="{{ failure_url }}">
<input type="hidden" name="exceptionurl" value="{{ failure_url }}">
<input type="hidden" name="cancelurl" value="{{ failure_url }}">
<input type="submit" value="{% trans "Purchase Items" %}" />
{% endblock %}
